<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AssemblyInfoHelper" version="4.1.0" targetFramework="net452" />
  <package id="ControlzEx" version="4.0.0-alpha0303" targetFramework="net452" />
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.0.8" targetFramework="net452" />
  <package id="MahApps.Metro" version="2.0.0-alpha0391" targetFramework="net452" />
  <package id="MahApps.Metro.IconPacks" version="3.0.0-alpha0188" targetFramework="net452" />
  <package id="Markdig" version="0.15.2" targetFramework="net452" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.0.1" targetFramework="net452" />
  <package id="Octokit" version="0.32.0" targetFramework="net452" />
  <package id="Semver" version="2.0.4" targetFramework="net452" />
</packages>